	<!--[if lt IE 9]>
   	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. 
   	Please upgrade your browser to improve your experience.</p>
   <![endif]-->   

   <!-- content-wrap -->
   <div id="content-wrap">
	  
      <div class="left-addsense"><script type="text/javascript">
google_ad_client = "pub-6646446076038181";
//120x600, right bar
google_ad_slot = "5819006657";
google_ad_width = 120;
google_ad_height = 500;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
      <!-- main  -->
      <main class="row">
			<header class="site-header">
               <div class="logo">
               	<a href="#">Canonizer</a>
               </div> 
            </header>

            <div id="main-content" class="twelve columns">

               <h1>Canonizer.com 2.0 Comming Soon</h1>
               <hr> 
               
               			<div id="clockdiv">
                          <div>
                            <span class="days"></span>
                            <div class="smalltext">Days</div>
                          </div>
                          <div>
                            <span class="hours"></span>
                            <div class="smalltext">Hours</div>
                          </div>
                          <div>
                            <span class="minutes"></span>
                            <div class="smalltext">Minutes</div>
                          </div>
                          <div>
                            <span class="seconds"></span>
                            <div class="smalltext">Seconds</div>
                          </div>
                        </div>              

            </div><!-- /main-content form -->
      </main>	      
	  <div class="right-addsense">
	  <script type="text/javascript">
google_ad_client = "pub-6646446076038181";
//120x600, right bar
google_ad_slot = "5819006657";
google_ad_width = 120;
google_ad_height = 500;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
   </div><!-- /content-wrap --> 
<script src="js/jquery.min.js"></script>    
<!---- timer js---->
<script>
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse(new Date()) + 90 * 24 * 60 * 60 * 1000);
initializeClock('clockdiv', deadline);
</script>