<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

<!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Canonizer</title>
   <meta name="description" content="">  
   <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/main.css">    

   <!-- Favicons
   =================================================== -->
   <link rel="shortcut icon" href="images/logo/favicon.ico" >
    
</head>
    
<body>
<%- body %>
<%- script %>
</body>
</html>

