/* =================================================================== */
/*	 TOC:
/*  01. =webfonts and iconfonts
/*  02. =document setup
/*  03. =preloader
/*  04. =forms
/*  05. =content styles
/*  06. =modals
/*  07. =footer
/*
/* =================================================================== */
/* 
/* 01. =webfonts and iconfonts
/* =================================================================== */
/* 
/* 02. =document setup
/* =================================================================== */

/* Body 
---------------------------------------------------------------------- */
html,
body {
	height: 100%;
}

html {
	background: #161415 url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
}

body {
	font: 15px/30px "montserrat-regular", sans-serif;
	font-weight: normal;
	color: #575859;
	margin:0px;
}
@font-face {
   font-family: 'montserrat-regular';
   src:url(../fonts/montserrat-regular-webfont.ttf);
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'montserrat-bold';
   src:url(../fonts/montserrat-bold-webfont.ttf);
   font-weight: normal;
   font-style: normal;
}

/* links 
---------------------------------------------------------------------- */
a,
a:visited {
	outline: none;
	color: #fbca08;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: white;
}

/* Typography
--------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "montserrat-bold", sans-serif;
	color: #575859;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin: 18px 0 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin-top: 0;
	letter-spacing: -1px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 {
	font-size: 17px;
	line-height: 30px;
}

h5 {
	font-size: 14px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h6 {
	font-size: 13px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	margin: 15px 0 15px 0;
}

p img {
	margin: 0;
}

p.lead {
	font: 17px/33px "montserrat-regular", sans-serif;
	color: #707273;
}

em {
	font: 15px/30px "montserrat-regular", sans-serif;
	font-style: normal;
}

strong,
b {
	font: 15px/30px "montserrat-bold", sans-serif;
	font-weight: normal;
}

small {
	font-size: 11px;
	line-height: inherit;
}

blockquote {
	margin: 18px 0px;
	padding-left: 40px;
	position: relative;
}

blockquote:before {
	content: "\201C";
	opacity: 0.45;
	font-size: 80px;
	line-height: 0px;
	margin: 0;
	font-family: arial, sans-serif;
	position: absolute;
	top: 30px;
	left: 0;
}

blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
}

blockquote cite {
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color: #707273;
	border: none;
}

abbr {
	font-family: "montserrat-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #7d7e80;
}

pre,
code {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	padding: 3px;
	background: #ECF0F1;
	color: #707273;
	border-radius: 3px;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #FFF49B;
	color: #000;
}

hr {
	border: solid #fbca08;
	border-width: 1px 0 0;
	clear: both;
	margin: 23px 0 12px;
	height: 0;
}

/* Lists  
--------------------------------------------------------------------- */
ul,
ol {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: disc;
	margin-left: 17px;
}

dl {
	margin: 0 0 15px 0;
}

dt {
	margin: 0;
	color: #fbca08;
}

dd {
	margin: 0 0 0 20px;
}

/* Floated image  
--------------------------------------------------------------------- */
img.pull-right {
	margin: 12px 0px 0px 18px;
}

img.pull-left {
	margin: 12px 18px 0px 0px;
}

/* Style Placeholder Text  
--------------------------------------------------------------------- */
::-webkit-input-placeholder {
	color: black;
}

:-moz-placeholder {

	/* Firefox 18- */
	color: black;
}

::-moz-placeholder {

	/* Firefox 19+ */
	color: black;
}

:-ms-input-placeholder {
	color: black;
}

.placeholder {
	color: black !important;
}

/* 
/* 03. =preloader
/* =================================================================== */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	z-index: 9999999;
	height: 100%;
}

.no-js #preloader,
.oldie #preloader,
.ie9 #preloader {
	display: none;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}

#loader:before {
	content: "";
	border-top: 11px solid rgba(255, 255, 255, 0.2);
	border-right: 11px solid rgba(255, 255, 255, 0.2);
	border-bottom: 11px solid rgba(255, 255, 255, 0.2);
	border-left: 11px solid #fbca08;
	-webkit-animation: load 1.1s infinite linear;
	animation: load 1.1s infinite linear;
	display: block;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

/* 
/* 04. forms
/* =================================================================== */
form {
	margin-bottom: 24px;
}

fieldset {
	margin: 0 0 24px 0;
	padding: 0;
	border: none;
}

input,
button {
	-webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	display: block;
	padding: 12px 15px;
	margin: 0 0 12px 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #a3a4a6;
	font-family: "montserrat-regular", sans-serif;
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
	max-width: 100%;
	background: transparent;
	border: 3px solid #a9aaab;
}

textarea {
	min-height: 162px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	background: white;
}

label,
legend {
	font: 15px/30px "montserrat-bold", sans-serif;
	margin: 12px 0;
	color: #252525;
	display: block;
}

label span,
legend span {
	color: #575859;
	font: 15px/30px "montserrat-bold", serif;
}

input[type="checkbox"],
input[type="radio"] {
	font-size: 15px;
	color: #575859;
}

input[type="checkbox"] {
	display: inline;
}

/* 
/* 05. =content styles
/* =================================================================== */
.browserupgrade {
	text-align: center;
	padding: 15px 30px;
	background: white;
}

#content-wrap {
	padding-top: 7%;
}

@media only screen and (max-width:900px) {
	#content-wrap {
		padding-top: 9%;
	}

}

@media only screen and (max-width:768px) {
	#content-wrap {
		padding-top: 13%;
	}

}

@media only screen and (max-width:600px) {
	#content-wrap {
		min-height: auto;
		padding-top: 60px;
	}

}

@media only screen and (max-width:400px) {
	#content-wrap {
		padding-top: 54px;
	}

}

/* main
------------------------------------------ */
main.row {
	float:left;
	width:60%;
	margin:0px auto;
}

main {
	text-align: center;
}

main::after {
	content: "";
	display: block;
	height: 150px;
}

main h1 {
	font: 38px/1.2em "montserrat-bold", sans-serif;
	color: #fbca08;
	margin-bottom: 12px;
	padding: 0;
}

main p {
	font: 17px/36px "montserrat-regular", sans-serif;
	color: #fff;
	margin-bottom: 18px;
	padding: 0;
}

main hr {
	border: solid #fbca08;
	border-width: 5px 0 0;
	margin: 19px auto 12px;
	height: 0;
	width: 100px;
}

main .site-header .logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 36px 0;
	padding: 0;
}

main .site-header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	width: 200px;
	height: 150px;
	background: url("../images/logo/logo.png") no-repeat;
	background-size: contain;
}

@media only screen and (max-width:900px) {
	main.row {
		width: 85%;
	}

	main h1 {
		font: 35px/1.2em "montserrat-bold", sans-serif;
	}

	main p {
		font: 16px/30px "montserrat-regular", sans-serif;
	}

	main .site-header .logo {
		margin: 0 0 30px 0;
	}

	main .site-header .logo a {
		width: 104px;
		height: 72px;
	}

}

@media only screen and (max-width:768px) {
	main.row {
		width: 92%;
	}

	main h1 {
		font: 32px/1.2em "montserrat-bold", sans-serif;
	}

	main p {
		font: 15px/30px "montserrat-regular", sans-serif;
	}

	main .site-header .logo {
		margin: 0 0 24px 0;
	}

}

@media only screen and (max-width:500px) {
	main.row {
		width: 96%;
	}

	main h1 {
		font: 30px/1.2em "montserrat-bold", sans-serif;
	}

	main p {
		line-height: 27px;
	}

	main::after {
		height: 78px;
	}

}

@media only screen and (max-width:400px) {
	main.row {
		width: 100%;
	}

	main h1 {
		font: 28px/1.2em "montserrat-bold", sans-serif;
	}

	main p {
		font: 14px/27px "montserrat-regular", sans-serif;
	}

	main .site-header .logo a {
		width: 95px;
		height: 66px;
	}

}

/* counter 
------------------------------------------ */
#clockdiv {
	width: 90%;
	color: white;
	text-align: center;
	margin: 45px auto 0;
}

#clockdiv div {
	font: 62px/1em "montserrat-bold", sans-serif;
	display: block;
	padding: 12px 0 30px;
	min-width: 25%;
	float: left;
	text-align:center;
}
#clockdiv span{
	display:block;
	width:100%;
}
#clockdiv .smalltext {
	font: 11px/18px "montserrat-regular", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
	display: block;
	color: rgba(255, 255, 255, 0.6);
	width:100%;
}

@media only screen and (max-width:900px) {
	#counter {
		width: 92%;
	}

	#counter span {
		font: 58px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:768px) {
	#counter {
		width: 100%;
	}

	#counter span {
		font: 52px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:600px) {
	#counter {
		margin-bottom: 24px;
	}

	#counter span {
		font: 48px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:500px) {
	#counter {
		margin-bottom: 12px;
	}

	#counter span {
		font: 37px/1em "montserrat-bold", sans-serif;
	}

	#counter span em {
		font: 9px/18px "montserrat-regular", sans-serif;
		letter-spacing: 1.5px;
	}

}

@media only screen and (max-width:400px) {
	#counter span {
		font: 31px/1em "montserrat-bold", sans-serif;
	}

	#counter span em {
		font: 8px/18px "montserrat-regular", sans-serif;
		letter-spacing: 1px;
	}

}
.left-addsense{
	float: left;
    width: 20%;
    height:500px;
	font-size:58px;
	text-align:center;
}
.right-addsense{
	float: right;
    width: 20%;
    height:500px;
	font-size:58px;
	text-align:center;
}